<h3>Edit Transaction: </h3>

<form action="/transactions/success" method="POST">
  <input type="hidden" name="id"
  value="<%=@transaction.id%>">

  <label>Amount: <input type="number" placeholder="<%=@transaction.amount%>" name="amount" required></label>

  <label>Date<input type="date" name="a_date" placeholder="<%=@transaction.a_date%>" required></label>

  <label>Pick a merchant:</label>
    <select name="merchant_id">
      <% for merchant in @merchants %>
        <option value="<%= merchant.id %>">
          <%= merchant.name %></option>
        <%end%>
      </select>

  <label>Add a New Tag:</label>
        <input type="text" list="tags" name ="type">
      <datalist id="tags">
        <% for tag in @tags %>
        <option value="<%=tag.type%>"><%=tag.type%></option>
        <% end %>
        </datalist>



  <input type="submit" values="Change Transaction">
  </form>

  <a href="/transactions/view">Back to All Transactions</a>
