  <% if @transactions.empty? %>
  <h3>No transaction exist for this month.</h3>
    <% else %>
<h3>DISPLAYING FOUND TRANSACTIONS</h3>

<p>TOTAL SPENDING FOR THE MONTH: £<%=@total_spent%></p>

<table class="transactions-table"
  <thead>
    <tr>
      <th>AMOUNT</th>
      <th>DATE</th>
      <th>MERCHANT</th>
      <th>TAG</th>
      <th>DELETE</th>
      <th>EDIT</th>
      </tr>
      </thead>
        <tbody>


<% for item in @transactions %>

      <tr>
        <td>£<%=item.amount%></td>
      <td><%=item.a_date%></td>
      <td><%=item.merchant.name%></td>
      <td><%=item.show_tags_in_string%></td>
      <td><a href="/transactions/<%=item.id%>/delete">Delete</a></td>
      <td><a href="/transactions/<%=item.id%>/edit">Edit</a></td>
      </tr>

  <% end %>

  </tbody>
  </table>
  <%end%>

  <a href="/transactions/view">Back to All Transactions</a>
