<h3>ADD A NEW TRANSACTION</h3>

<form action="/transactions/add" method="POST">

<label>Amount: <input type="number" placeholder="Enter Amount" name="amount" required></label>

<label>Date: <input type="date" name="a_date" required></label>

<label>Pick a Merchant:</label>
  <select name="merchant_id">
    <% for merchant in @merchants %>
      <option value="<%= merchant.id %>">
        <%= merchant.name %></option>
              <%end%>
    </select>


<p><label>Tag One:</label>
  <input type="text" list="tags" name ="tags[type1]">
<datalist id="tags">
  <% for tag in @tags %>
  <option value="<%=tag.type%>"><%=tag.type%></option>
  <% end %>
  </datalist>

  <label>Tag Two (Optional):</label>
    <input type="text" list="tags" name ="tags[type2]">
  <datalist id="tags">
    <% for tag in @tags %>
    <option value="<%=tag.type%>"><%=tag.type%></option>
    <% end %>
    </datalist>


<input type="submit" values="Add Transaction">
</form></p>

  <a href="/transactions/view">Back to All Transactions</a>
