<h2>Displaying Transactions by Merchant:</h2>

<p>Sort by month</p>
<p>Sort by tag</p>

  <p><% @transactions.each do |key, values| %></p>
    <h4><%= key[0] %>, <%= key[1] %></h4>
      <br>
      <%  values.each do |value| %>


  <p>Amount: £<%=value.amount%></p>
  <p>Date: <%=value.a_date%></p>
  <p>Merchant: <%=value.merchant_id%></p>
  <hr>
  <% end %>
  <% end %>
