<ul id="horizontal-list">
  <li><a href="/merchants/view">View by Merchant</a></li>
  <li><a href="#">View by Tag</a></li>
  <li><a href="/transactions/new">Add a Transaction</a></li>
<h3>ALL TRANSACTIONS:</h3>
<form action="/transactions/monthly_view" method="POST">
  <label>
    VIEW TRANSACTIONS BY MONTH: </label>
    <input type="month" name="month"><input type="submit" values="Find transactions!">

<table class="transactions-table"
  <thead>
    <tr>
      <th>AMOUNT</th>
      <th>DATE</th>
      <th>MERCHANT</th>
      <th>TAG</th>
      <th>MONTH</th>
      <th>DELETE</th>
      <th>EDIT</th>
      </tr>
      <thead>
        <tbody>
<% @transactions.each do |value| %>

      <tr>
        <td>£<%=value.amount%></td>
      <td><%=value.a_date%></td>
      <td><%=value.merchant.name%></td>
      <td><%=value.show_tags_in_string%></td>
      <td><%= value.a_date%></td>
      <td><a href="/transactions/<%=value.id%>/delete">Delete</a></td>
      <td><a href="/transactions/<%=value.id%>/edit">Edit</a></td>
      </tr>

  <% end %>

  </tbody>
  </table>
