<h3>ALL TRANSACTIONS</h3>

<div class="transactions-nav">
<a href="/transactions/new">ADD A TRANSACTION</a>
<a href="/transactions/stats">CHECK SPENDING</a>

<form action="/transactions/monthly_view" method="POST">
<label class="transactions">VIEW TRANSACTIONS BY MONTH: </label>
<input type="month" name="month"><input type="submit" values="Find transactions!">
</div>

<table class="transactions-table"
  <thead>
    <tr>
      <th>AMOUNT</th>
      <th>DATE</th>
      <th>MERCHANT</th>
      <th>TAG</th>
      <th>DELETE</th>
      <th>EDIT</th>
      </tr>
      <thead>
        <tbody>
<% @transactions.each do |value| %>

      <tr>
        <td>£<%=value.amount%></td>
      <td><%=value.a_date%></td>
      <td><%=value.merchant.name%></td>
      <td><%=value.show_tags_in_string%></td>
      <td><a href="/transactions/<%=value.id%>/delete"><img src="/images/delete.png" alt="delete_sign" height="20px" width="35px"></a></td>
      <td><a href="/transactions/<%=value.id%>/edit"><img src="/images/mdi_create.png" alt="edit_sign" height="20px" width="35px"></a></td>
      </tr>

  <% end %>

  </tbody>
  </table>
